@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arimo:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Mono:wght@500&display=swap');

.concert-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #AAAAAA;
    padding: 5px;
    border-radius: 5px;
    margin-bottom: 10px;
    
    width: 900px;
    height: 85px;
}   
.imageInfo{
    width: 12.5%;
    height: 77.5px;
    overflow: hidden;
    
    margin-left: 0.25rem;

    display: flex;
    align-items: center;
    
}
.image {
    width: 100%;
}

.concertMainInfo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 70%;

    transition: 0.5s;
}

.concertName {
    font-family: 'Rubik', sans-serif;
    font-size: 1.2rem;
    text-decoration: none;
    color: black;
    padding-bottom: 0.6rem;

    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.concertName:hover {
    text-decoration: underline;
}

.artists {
    display: flex;
    flex-wrap: wrap;
}

.artist {
    font-family: 'Arimo', sans-serif;
    color:royalblue;
    text-decoration: none;
    font-size: 0.85rem;
    padding-bottom: 0.5rem;
}

.artist:hover {
    text-decoration: underline;
}

.venue {
    font-family: 'Open Sans', sans-serif;
    color: lightslategrey;
    font-size: 0.75rem;
    text-decoration: none;
    font-style: italic;
    padding-bottom: 0.1rem;

    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.venue:hover {
    text-decoration: underline;
}

.concertSubInfo {
    width: 12.5%;
    height: 62.5px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    transition: 0.5s;
}

.cancelled{
    font-family: 'Open Sans', sans-serif;
    font-size: 0.9rem;
    background-color: crimson;
    color: white;
    padding: 0.25em 1em;
    border-radius: 15px;
    margin-left: 0.1em;
}

.price {
    font-family: 'Fira Mono', monospace;
    font-size: 0.85em;
    padding-left: 0.5em;
    color: #1E3163;
}

@media(max-width:800px) {
    .concert-item {
        width: 90vw;
        height: 60px;
    }
    .imageInfo {
        width: 20%;
        flex-shrink: 0;
        max-height: 60px;
    }
    .concertMainInfo{
        width: 57.5%;
        margin: 0 0.5rem;
    }
    .concertName {
        font-size: 1rem;
        padding-bottom: 0.2rem;
    }
    .artists {
        flex-wrap: nowrap;

        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
    }
    .artist {
        font-size: 0.8rem;
        padding-bottom: 0.2rem;
        
    }
    .venue {
        padding-bottom: 0.1rem;
    }
    .concertSubInfo{
        width: 20%;
        min-width: 85px;
        height: 50px;
        text-align: right;
    }
    .cancelled {
        margin: 0;
        font-size: 0.7rem;
        
    }
    .price {
        font-size: 0.7rem;
        padding-left: 0;
        padding-right: 0.2rem;
    }
}