@import url("https://fonts.googleapis.com/css2?family=Staatliches&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Play:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cabin&display=swap");

.content {
  margin: 3rem;

  transition: 0.5s;
}
.section-title {
  font-family: "Staatliches", cursive;
  font-size: 2.2rem;
  color: #002366;
  margin-bottom: 1.5rem;

  transition: 0.5s;
}
.city {
  color: #9d0b0b;
  font-size: 1.2em;
}
.concert-list {
  display: flex;
  flex-direction: column;

  transition: 0.5s;
}
.FilterView {
  margin: 0 auto;
  margin-bottom: 3.5rem;
  border: 1.5px solid lightgray;
  border-radius: 15px;
  padding: 25px;
  width: 85%;
}
.pagination {
  margin: 0 auto;
}
.concerts {
  width: 80%;
  margin: 0 auto;
  margin-bottom: 2.5rem;
}
.date {
  margin-top: 3rem;
  margin-bottom: 1rem;
  font-size: 1.5rem;
  font-family: "Play", sans-serif;

  transition: 0.5s;
}
.loading {
  font-family: "Cabin", sans-serif;
  font-size: 1.75rem;
  margin-top: 3rem;

  transition: 0.5s;
}
.empty {
  font-family: "Fjalla One", sans-serif;
  font-size: 1.5rem;
  margin: 2.5rem 0 15rem 5rem;

  transition: 0.5s;
}
.error {
  font-family: "Fjalla One", sans-serif;
  color: #91091e;
  font-size: 1.5rem;
  margin-top: 2.5rem;

  transition: 0.5s;
}

@media (max-width: 800px) {
  .content {
    margin: 0 0.75rem;
  }
  .section-title {
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }
  .concert-list {
    padding: 0;
    align-items: center;
  }
  .FilterView {
    padding: 15px;
    border: 1px solid lightgray;
    margin-bottom: 2.5rem;
  }
  .pagination:last-child {
    margin-bottom: 3rem;
  }
  .concerts {
    width: 100%;
    margin-bottom: 1rem;
  }
  .date {
    font-size: 1.2rem;
    margin-top: 1.75rem;
  }
  .loading {
    font-size: 1rem;
    margin-top: 2rem;
  }
  .empty {
    font-size: 1.25rem;
    margin: 0;
  }
  .error {
    font-size: 1rem;
    margin-top: 1.75rem;
  }
}
