@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC&display=swap');

.concert-item {
    border: 1px solid #AAAAAA;
    /* width: 100px; */
    font-size: 0.7rem;
    padding: 5px;
    border-radius: 10px;
    margin: 3px 3px;
    font-family: 'Noto Sans TC', sans-serif;
}   

.image {
    width: 100px;
    height: 100px;
    /* height: auto; */
    border-radius: 50%;
}

.concertName {
    padding: 2px 4px;
    text-decoration: none;
    color: black;

    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.concertName:hover {
    text-decoration: underline;
}

.artist {
    color:royalblue;
    padding: 2px 4px;
    font-weight: bold;

    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.artist:hover {
    text-decoration: underline;
}

.venue {
    color: lightslategrey;
    padding: 2px 4px;

    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}


