@import url("https://fonts.googleapis.com/css2?family=Staatliches&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Play:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cabin&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap");

.content {
  margin: 3rem;
}
.title {
  font-family: "Staatliches", cursive;
  font-size: 2.7rem;
  color: #002366;
  margin-bottom: 0.5rem;
}
.planNotice {
  font-size: 1.15rem;
  font-family: "Fira Sans", sans-serif;
}
.planNumber {
  color: #9d0b0b;
  font-size: 1.5rem;
}
.concerts {
  width: 80%;
  margin: 0 auto;
  margin-bottom: 2.5rem;
}
.date {
  margin-top: 3rem;
  margin-bottom: 1rem;
  font-size: 1.5rem;
  font-family: "Play", sans-serif;
}
.loading {
  font-family: "Cabin", sans-serif;
  font-size: 1.75rem;
  margin-top: 2rem;
  line-height: 150%;
}
.empty {
  font-family: "Fjalla One", sans-serif;
  font-size: 1.5rem;
  margin-top: 2.5rem;
}
.error {
  font-family: "Fjalla One", sans-serif;
  color: #91091e;
  font-size: 1.5rem;
  margin-top: 2.5rem;
}

@media (max-width: 800px) {
  .content {
    margin: 0 0.75rem;
  }
  .title {
    font-size: 2rem;
  }
  .planNotice {
    font-size: 0.9rem;
  }
  .planNumber {
    font-size: 1.1rem;
  }
  .concerts {
    width: 100%;
    margin-bottom: 1rem;
  }
  .date {
    font-size: 1.2rem;
    margin-top: 1.75rem;
  }
  .loading {
    font-size: 1rem;
    margin-top: 0.75rem;
  }
  .empty {
    font-size: 1.25rem;
    margin-top: 2rem;
  }
  .error {
    font-size: 1rem;
    margin-top: 0.5rem;
  }
}
