@import url("https://fonts.googleapis.com/css2?family=Passion+One&display=swap");

.plan-item {
  margin-bottom: 35px;
}
.plan-options {
  text-align: end;
}
.button {
  background-color: initial;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.1) 0 2px 4px;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-family: "Passion One", cursive;
  height: 30px;
  outline: 0;
  overflow: hidden;
  padding: 0 20px;
  pointer-events: auto;
  position: relative;
  text-align: center;
  touch-action: manipulation;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: top;
  white-space: nowrap;
  z-index: 9;
  border: 0;
  margin-left: 5px;
  font-size: 1rem;
}
.buyTickets {
  background-image: linear-gradient(-180deg, #2aa9d2, #1874c3);
}
.buyTickets:hover {
  background: #1874c3;
}
.delete {
  background-image: linear-gradient(-180deg, #ff5403, #f90716);
}
.delete:hover {
  background: #f90716;
}
@media (max-width: 800px) {
  .button {
    font-size: 0.8rem;
    padding: 0 12.5px;
    margin-left: 0.5px;
  }
}
