@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Saira+Condensed&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");

.filterTitle {
  font-family: "Josefin Sans", sans-serif;
  font-size: 1.2rem;
  padding-bottom: 0.3rem;
}
.date {
  margin-bottom: 1rem;
  margin-left: 0.25rem;
}
.fromToTitle {
  display: inline-block;
  width: 2.5rem;
  font-family: "Saira Condensed", sans-serif;
  font-size: 1rem;
  font-weight: bold;
  padding-bottom: 0.75rem;
  color: #2c061f;
}
.dateButton {
  display: inline-block;
  padding: 0.3em 1.2em;
  border-radius: 2em;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Ubuntu", sans-serif;
  color: #ffffff;
  font-size: 0.85rem;
  text-align: center;
  transition: all 0.2s;
  border: none;
  cursor: pointer;
}
.reset {
  background-color: #639a67;
  margin-left: 0.25rem;
}
.reset:hover {
  background-color: #2b580c;
}
.search {
  background-color: #318fb5;
  margin-left: 0.1rem;
}
.search:hover {
  background-color: #005086;
}
.genre {
  display: flex;
  flex-wrap: wrap;
}
.genreItem {
  cursor: pointer;
  padding: 15px 10px;
  margin-left: 2px;
  margin-bottom: 5px;
  border-radius: 25px;
  border: 1px solid #79b4b7;
  font-family: "Montserrat", sans-serif;
  font-size: 0.75rem;
  box-shadow: inset 0 0 0 0 #79b4b7;
  -webkit-transition: ease-out 0.4s;
  -moz-transition: ease-out 0.4s;
  transition: ease-out 0.4s;
  background-color: white;
}
.genreItem:hover {
  box-shadow: inset 0 0 0 50px #79b4b7;
}
.genreItem.selectedGenre {
  background-color: #79b4b7;
}

@media (max-width: 800px) {
  .filterTitle {
    font-size: 1rem;
  }
  .fromToTitle {
    font-size: 0.9rem;
    width: 2rem;
  }
  .dateButton {
    font-size: 0.7rem;
  }
  .reset {
    margin-left: 0.1rem;
  }
  .search {
    margin-left: 0;
  }
  .genreItem {
    color: black;
    font-size: 0.6rem;
    padding: 9px 6px;
  }
  .genreItem:hover {
    box-shadow: none;
  }
}
