@import url("https://fonts.googleapis.com/css2?family=Anton&display=swap");

.pagination {
}
.pageNum {
  font-family: "Anton", sans-serif;
  font-size: 0.9rem;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  border: 1.5px solid black;
  border-radius: 2px;
  margin: 0 1.5px;
  text-decoration: none;
  color: black;
  cursor: pointer;

  transition: 0.5s;
}
.pageNum:hover {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.pageNum.selected {
  color: #ef962d;
}

.pageNum.arrow {
  color: #ef962d;
  font-weight: bold;
}

@media (max-width: 800px) {
  .pagination {
    margin: 0;
  }
  .pageNum {
    font-size: 10px;
    width: 12.5px;
    height: 12.5px;
  }
}
